.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color:#4CAF50;
  height: 50px;
  overflow: auto;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  opacity: 75%;
}

.nav-links a:hover {
  text-decoration: none;
}

.nav-links {
  /* display: flex; */
  justify-content: flex-end;
  width: auto;
}

.navbar-logo img {
  /* Set the height of the image to be 100% of the navbar height */
  height: 100%;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* Ensures the navbar takes the full width */
  padding: 0 20px;
  /* Optional: add padding for better spacing */
}

.navbar-logo img {
  object-fit: contain;
  width: 36px;
  height: 36px;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-links a {
  color: #ffffff;
  text-align: center;
  padding: 1vh 1.5vh;
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.nav-links a:hover {
  color: rgb(255, 255, 255);
  background-color: #367538ea;
}
